* {
    box-sizing: border-box;
}

.container-img{
    text-align: center
}

.container-img::after {
    content: "";
    clear: both;
    display: table;
}

.card-img{
    float: left;
    width: 30%;
    margin: 10px;
}